link(rel='stylesheet', href='/css/main.css')
div.container
    h1 L'image du jour
    img#daily-image(src=img)
    div#chat
        div#conversations
        form
            input(type=text)
            input(type=submit)